<!-- <div class="account-list">
  <button (click)="openAddAccount()">Add Account</button>
  <ng-container *ngIf="isOpenAddAccount">
    <div class="add-account">
      <button (click)="saveNew()">Save</button>
    </div>
  </ng-container>
  <ng-container *ngIf="isOpenEditAccount">
    <div class="add-account">
      <button (click)="saveEdit()">Save</button>
    </div>
  </ng-container>
  <div class="search">
    <input type="text" [(ngModel)]="searchStr" (ngModelChange)="search()">
  </div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Balance</th>
      <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let account of account; let index=index">
      <td>{{account.firstname}} {{account.lastname}}</td>
      <td>{{account.age}}</td>
      <td>{{account.balance}}</td>
      <td>
        <button (click)="openEdit(account)">Sửa</button>
      </td>
    </tr>
    </tbody>
  </table>
</div> -->
<!-- <router-outlet></router-outlet> -->
<main>
    <section class="page_header">
        <div class="title_page">
            <h1>Danh sách tài khoản</h1>
        </div>
        <div class="search">
            <a [routerLink]="['create']" routerLinkActive="active">create</a>
            <input type="text" [(ngModel)]="searchStr" placeholder="search" (ngModelChange)="search()"
                class="search_input">
            <label for="search_by">Search by</label>
            <select id="search_by" [(ngModel)]="searchBy">
                <option *ngFor="let option of optionSearch" [value]="option.value">{{option.title}}</option>
            </select>
        </div>
    </section>
    <div *ngIf="isLoading ; then loading ; else showData"></div>
    <ng-template #loading>
        <div class="loading">
            loading ...
        </div>
    </ng-template>
    <ng-template #showData>
        <div class="content_page">
            <app-my-datatable [rows]="account" [columns]="columns" [page]="page"
                [loading]="isLoading"  [view] = "edit" [nextPage] = "nextPage" [removeItem] = "handleRemoveAccount"></app-my-datatable>
            <div class="mytable_pagination">

                <!-- <button [disabled]="page.page_current === 1" (click)="prevPage()">&#8592;</button>
        <input type="number" [(ngModel)]="page.page_current" (keyup.enter)="onEnter()" min="1" [max]="page.total_page" />
        <span> / {{page.total_page}}</span>
        <button [disabled]="page.page_current === page.total_page" (click)="nextPage()">&#8594;</button> -->
            </div>
        </div>
        <div class="pagination">
            <select [value]="page.page_size" (change)="onChangePageSize($event)">
                <option value="5">5</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    </ng-template>

</main>
