<div class="table_wrapper">

    <div *ngIf="rows.length; then notEmpty  else empty"></div>
    <ng-template #notEmpty>
        <div class="mytable" id='my-table' (scroll)="checkScroll($event)">
            <table class="mytable_content">
                <colgroup>
                    <col *ngFor="let column of columns; index as i" [width]="column.width">
                    <col width="100px">
                    <col width="100px">
                </colgroup>
                <thead class="mytable_head">
                    <tr>
                        <th *ngFor="let column of columns; index as i">
                            <p>
                                {{column.label}}
                            </p>
                        </th>
                        <th colspan="2">
                            action
                        </th>
                    </tr>
                </thead>
                <tbody class="mytable_body">
                    <tr *ngFor="let row of rows; index as i">
                        <td *ngFor="let column of columns; index as i">
                            <p>
                                {{row[column.field]}}
                            </p>
                        </td>
                        <td>
                            <button (click)="removeAccount(row._id)">
                                remove
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['detail/' + row._id]" routerLinkActive="active" (click)="view(row)">
                                view
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="isShowMore" class="loaded" (click)="nextPage()">learn more</button>
        </div>

    </ng-template>
    <ng-template #empty>
        <div class="empty" #empty>Danh sách dữ liệu đang trống. Vui lòng <a [routerLink]="['create']"
                routerLinkActive="active">create</a>

        </div>
    </ng-template>

</div>